@use "./base/_modern-normalize";

@use "./utils/_variables" as *;
@use "./utils/_resets";
@use "./components/_logo";
@use "./components/_header-nav";
@use "./components/_header-contacts";
@use "./components/_hero-section";
@use "./components/_modal";
@use "./components/_features-section";
@use "./components/_job-section";
@use "./components/_team-section";
@use "./components/_socials-list";
@use "./components/_clients-section";
@use "./components/_footer-section";

@use "./components/_filters-section";
@use "./components/_projects-section";
  
body { 
  margin: 0 auto;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: $black-color;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $white-color;
}
.header {
  display: flex;
  height: 100%;
  align-items: center;
}
.header-section {
  
  &--portfolio {
    border-bottom: 1px solid #ececec;
  }

}
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
  
  