@use "../utils/variables" as *;

.section--footer {
    padding-top: 60px;
    padding-bottom: 60px;
  
    background-color: $header-footer-color;
  }
  .footer {
    display: flex;
  }
  .footer-address {
    display: inline-block;
    width: 231px;
  }
  .footer-address__list {
    display: flex;
    margin-top: 20px;

    flex-direction: column;
  }
  .footer-address__item {
    margin-bottom: 9px;
    font-style: normal;
  }
  .footer-address__item:last-child {
    margin-bottom: 0;
  }
  .footer-address__link{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-address__link:focus {
    color: $blue-color;
  }
  .footer-address__link:hover {
    color: $blue-color;
  }
  .footer-address__link--city {
    color: $white-color;
  }
  .footer-container {
    display: flex;
  }
  .footer-address-container {
    display: block;
    width: 231px;
  }
  .social-block {
    margin-top: 12px;
    margin-left: 70px;
  }
  .socials-list--footer {
    display: flex;
    width: 206px;
    padding: 0;
    margin-top: 20px;
  }
  .social-block__header {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $white-color;
  }
  .socials-list__link--footer {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .social-list__icon--footer {
    fill: $white-color;
  }
  .subscription-block {
    display: flex;
    width: 570px;
    flex-direction: column;
    margin-left: 93px;
    margin-top: 12px;
  }
  .subscription-block__header {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $white-color;
  }
  .subscription-form {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 50px;
  }
  .subscription-form__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
  
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscription-form__input:hover,
  .subscription-form__input:focus {
    border-color: $blue-color;
  }
  .button--subscription {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin-left: 12px;
  
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: $blue-color;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button--subscription:hover,
  .button--subscription:focus {
    background-color: $button-hover-color;
  }
  .button__icon--footer {
    margin-left: 10px;
    fill: $white-color;
  }