    $blue-color: #2196f3;
    $black-color: #212121;
    $grey-color: #757575;
    $header-footer-color: #2f303a;
    $white-color: #ffffff;
    $section-color: #f5f4f4;
    $basic-icon-color: #afb1b8;
    $button-hover-color: #188ce8;

